<!DOCTYPE html>
<html>
<head>
  <title>${title}</title>
  <meta charset="utf-8" />
  <meta name="generator" content="pandoc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="eighties.css" rel="stylesheet" >
  <link href="style.css" rel="stylesheet"/>
  <script src="highlight.js"></script>
</head>
<body>
<header>
  <a href="index.html"><span class="jander">jander</span><span class="land">.land</span></a>
</header>
<h1>${title}</h1>
<span class="date">${date}</span>
${body}
<script>
hljs.debugMode();

const STR = {
  scope: 'string',
  begin: /"/,
  end: /"/,
};

const NUM = {
  scope: 'number',
  begin: /[^\/,\(\)=<>]/,
  end: /(?=[\/,\(\)=<>])/,
};

const DIR_STR = {
  scope: 'string',
  begin: /[^\/]/,
  end: /(?=\/)/,
  endsWithParent: true,
};

const VAR = {
  scope: 'variable',
  begin: /</,
  end: />/,
};

const VAR_REF = {
  scope: 'variable',
  begin: /:/,
  end: /,/,
};

const DIR = {
  scope: 'directory',
  begin: /\//,
  end: /(?=\()/,
  contains: [STR, DIR_STR],
};

const TUP = {
  scope: 'tuple',
  begin: /\(/,
  end: /\)/,
  keyword: {
    $$pattern: /[^,\s]+/,
  },
  contains: [STR, VAR, VAR_REF, NUM],
};

const VAL = {
  scope: 'value',
  begin: /=/,
  end: /\n/,
  contains: [STR, VAR, VAR_REF],
};

hljs.registerLanguage('fql', (hljs) => ({
  keywords: {
    $$pattern: /[^\/\(\)=,<|:>\s]+/,
    keyword: ['int', 'uint', 'bool', 'float', 'bigint', 'string', 'bytes', 'uuid', 'tuple'],
    literal: ['nil', 'true', 'false', '...'],
  },
  contains: [DIR, TUP, VAL],
}));
hljs.highlightAll();
</script>
</body>
</html>
